
/* VARIABLES */
/* Please keep in alphabetical order, prefix with object type, and suffix with variant */
/* Example: color-blue-dark */
:root {
  --color-blue: #3ba9ff;
  --color-white: #ffffff;
}

/* UTILITIES */
.card {
  align-items: center;
  background: var(--color-white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 425px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* TYPOGRAPHY */


/* OBJECTS */
  .loadingIndicator .circle {
    height: 260px;
    position: relative;
    width: 260px;
  }
  .loadingIndicator .overflow {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
  }
  .loadingIndicator .overflow > div {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    transform-origin: 100% 50%;
    width: 100%;
  }
  .loadingIndicator .bottom {
    border: 3px solid var(--color-blue);
    border-right: none;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
    left: -100%;
    z-index: 100;
  }
  .loadingIndicator .half {
    border: 3px solid var(--color-blue);
    border-left: none;
    border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
    z-index: 200;
  }
  .loadingIndicator .top {
    z-index: 300;
  }
